div.st-emotion-cache-1kyxreq.e115fcil2{
    display: flex;
    flex-flow: wrap;
    row-gap: 1rem;
    justify-content: space-evenly;
}

div.stTextLabelWrapper.st-emotion-cache-y4bq5x.ewgb6651{
    display: flex;
    flex-flow: wrap;
    row-gap: 1rem;
    justify-content: space-evenly;
}

